@media (max-width: 600px) {
  .line {
    width: 70% !important;
  }
  .padding {
    padding: 0 !important;
  }
  .font_size {
    font-size: 30px !important;
  }
  .no_margin {
    margin: 0 !important;
  }
  .paddingl-10px {
    padding-left: 10px !important;
  }
  .max-width {
    max-width: 210px !important;
  }
  .font_size_25px {
    font-size: 25px !important;
  }
  .image_size {
    width: 320px !important;
  }
  .footer {
    justify-content: center !important;
    flex-direction: column !important;
    gap: 20px !important;
  }
  .footer_menu {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
}
