.last-page {
  background-color: #ededed !important;
  border-radius: 44px !important;
  padding-left: 20px !important;
  padding-right: 10px !important;
}
/* .last-page:hover {
  background-color: #ededed !important;
} */
